.transition-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 999; 
    animation: fadeBackground 1s linear both;
  }
  
  .rotate-fade {
    font-size: 50px !important;
    margin-left: 150px;
    animation: rotateFade 1s linear both;
  }


  .active-button {
    background-color: red; /* Specify your desired background color */
    color: #fff; /* Text color for the active button */
  }
  
  @keyframes rotateFade {
    0% {
      opacity: 1;
      transform: rotate(0deg);
    }
    100% {
      opacity: 0;
      transform: rotate(360deg);
    }
  }
  @keyframes fadeBackground {
    0% {
      background-color: #fff;
    }
    100% {
      background-color: transparent;
    }
  }